.form-style {
    width: 25%;
    margin: auto;
}
.form-style h1 {
    font-size: 2rem;
    font-weight: bolder;
}
.input1,
.input2 {
    width: 100%;
    margin: 20px 0;
}
.input1 input {
    width: 100%;
    height: 28px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.input2 textarea {
    width: 100%;
    padding: 10px;

    height: 60px;
    border: 1px solid grey;

    border-radius: 5px;
}

.form-style button {
    width: 100%;
    background: green;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
